@import 'tailwindcss' important;

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@layer base {
  h1 {
    font-size: 40px !important;
    font-family: 'SUIT';
    font-weight: 800;
  }
  h2 {
    font-size: 26px !important;
    font-family: 'SUIT';
    font-weight: 700;
  }
  h3 {
    font-size: 22px !important;
    font-family: 'SUIT';
    font-weight: 800;
  }
  h4 {
    font-size: var(--text-base) !important;
    font-family: 'SUIT';
    font-weight: 600;
    color: #bebebe;
  }

  @theme {
    --color-green: #4bd66e;
    --color-black: #181818;
    --color-gray: #bebebe;
    --color-white: #ffffff;
    --color-red: #ff3737;

    --breakpoint-sm: 390px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
  }
}
