@import 'tailwindcss' important;

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@layer base {
  h1 {
    font-size: 32px !important;
    font-family: 'SUIT';
    font-weight: 800;
    line-height: 1.2;
  }
  h2 {
    font-size: 26px !important;
    font-family: 'SUIT';
    font-weight: 700;
    line-height: 1.2;
  }
  h3 {
    font-size: 22px !important;
    font-family: 'SUIT';
    font-weight: 700;
    line-height: 1.5;
  }
  h4 {
    font-size: var(--text-base) !important;
    font-family: 'SUIT';
    font-weight: 600;
    line-height: 1.5;
  }

  h5 {
    font-size: 12px !important;
    font-family: 'SUIT';
    font-weight: 500;
    line-height: 1.5;
  }

  @theme {
    --color-green: #4bd66e;
    --color-black: #282828;
    --color-gray: #bebebe;
    --color-white: #ffffff;
    --color-red: #ee4444;

    --breakpoint-sm: 390px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
  }
}
